
	<div class ="page-title">
		<a class="title-text"><%=@Project.name%>::Dashboard</a>
	</div>
	<div id="readiness-over-time">
	</div>
	<div id = "weight-distribution">
		
	</div>
	<div id="attributes-satisfaction-lavel">
	</div>
	<div id="attributes-satisfaction-over-time">
	</div>
	


<script type="text/javascript">

$(function(){
	createReadinessOverTimeChart("readiness-over-time", <%= get_all_series_data @Project, @average_data, @optimistic_data, @pessimistic_data%>,
		<%=@optimistic_data%>,<%=@pessimistic_data%>,"Readiness Over Time");

});

function createReadinessOverTimeChart(container, average_data,optimistic_data,pessimistic_data, mf_title){
	
	chart = new Highcharts.Chart({
		chart: {
                renderTo: container,
        },
		title: {
                text: mf_title,
                x: -20 //center
        },
	    xAxis: {
	    	title: {
                    text:"Development Time (days)"
                },
	       tickInterval:10,

	    },
	    
	    yAxis: {
	    	title: {
                    text:"Readiness"
                },
	        max: 1,
	        min:0
	    },

	    series: [{
	    	name: 'Average',
	        data:average_data  
	    },{
	    	name: 'Optimistic',
	        data:optimistic_data  
	    },{
	    	name: 'Pessimistic',
	        data:pessimistic_data  
	    }],

	    legend: {
            enabled:true    
        },

         plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (e) {

                            	$.ajax({
                            		type: "POST",
                            		url: "/dashboard/"+<%=@Project.id%>+"/save",
                            		data: { days: e.point.x,
                            				series_name: this.series.name
                            		 }
                            	});
                               //alert("I am here"+ this.series);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
	});
}

</script>
