
	
	<div class ="page-title">
		<a class="title-text"><%=@Project.name%>::Dashboard</a>
	</div>
	<p class ="title-text" > Select Release:
		<%=select_tag 'release_ids', options_for_select(@Project.releases.reverse.collect{ |r| [r.name, r.id] }),{:onchange => "loadDashboard(this)"}%>
	</p>
	<p class ="title-text"> Requested RR: <%=text_field :rr, :requested%>
	</p>
	<div id="readiness-over-time">
	</div>
	<div id = "weight-distribution">	
	</div>
	<!-- <div id="readiness-scores">
		<p id = "cr-text">CR:</p>
		<p id = "pr-text">PR:</p>
	</div> -->
	<div id = "attributes-satisfaction-level-container">
		<div id="attributes-satisfaction-lavel">
		</div>
		<div id="attributes-satisfaction-over-time">
		</div>
	</div>
	
	
	


<script type="text/javascript">

	$(function(){

	document.getElementById("release_ids").selectedIndex = <%=@selected_index.to_i%>;
});

$(function(){
		<% average_data, optimistic_data, moderately_optimistic_data, pessimistic_data, moderately_pessimistic_data = get_all_series_data_with_various_decision_strategy @Project, @Release %>
		
		createReadinessOverTimeChart("readiness-over-time","Readiness Over Time");

		<% decision_strategies_names = ["Optimistic", "Moderately Optimistic","Neutral"," Moderately Pessimistic", "Pessimistic"] %>
		<% decision_strategies_data = [optimistic_data, moderately_optimistic_data,average_data,moderately_pessimistic_data, pessimistic_data] %>
		<%(0..decision_strategies_names.length-1).each do |i| %>
			decisionStrategyChart.addSeries({
							type: 'line',
				            name: "<%=decision_strategies_names[i]%>",
				            lineWidth: 1,            
				            data:<%=decision_strategies_data[i]%>
			});
		<%end%>

		<% if @Release.name == 'next'%>
			$("#cr-text").html("CR: <%=average_data[average_data.length-1][1]%>");
			$("#pr-text").html("PR: <%#= (get_projected_series average_data, (@Project.info.next_release_date-@Release.start_date).to_i)[1][1] %>");
		<%else%>
			$("#cr-text").html("CR: <%=average_data[average_data.length-1][1]%>");
			$("#pr-text").html("PR: N/A");
		<%end%>
});

function createReadinessOverTimeChart(container, title){
	
	decisionStrategyChart = new Highcharts.Chart({
		chart: {
                renderTo: container
        },
		title: {
                text: title,
                x: -20 //center
        },
	    xAxis: {
	    	title: {
                    text:"Development Time (days)"
                },
	       tickInterval:7,

	    },
	    
	    yAxis: {
	    	title: {
                    text:"Readiness"
                },
	        max: 1,
	        min:0
	    },

	    legend: {
            enabled:true    
        },

        plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (e) {

                            	$.ajax({
                            		type: "POST",
                            		url: "/dashboard/"+<%=@Project.id%>+"/load_satisfaction_by_day",
                            		data: { days: e.point.x,
                            				series_name: this.series.name,
                            				release_id: document.getElementById("release_ids").options[document.getElementById("release_ids").selectedIndex].value,
                            				requested_rr: document.getElementById("rr_requested").value


                            		 }
                            	});
                               //alert("I am here"+ this.series);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            }
	});
}

function loadDashboard(release_ids){
	$.ajax({
            type: "POST",
            url: "/dashboard/"+<%=@Project.id%>+"/index",
            data: { 
                    release_id: document.getElementById("release_ids").options[document.getElementById("release_ids").selectedIndex].value,
                    selected_index : document.getElementById("release_ids").selectedIndex
            }
    });
}

</script>
