<div class ="page-title">
		<a class="title-text"><%=@Project.name%>::Projected Readiness</a>
</div>

<div id="projected-readiness">



</div>


<script type="text/javascript">



$(function(){
	<%get_all_series_data @Project, @average_data, @optimistic_data, @pessimistic_data, @Release %>
	var projected_series_avg = <%= get_projected_series @average_data, (@Project.info.next_release_date-@Release.start_date).to_i%>;
	var projected_series_opt = <%= get_projected_series @optimistic_data, (@Project.info.next_release_date-@Release.start_date).to_i%>;
	var projected_series_psi = <%= get_projected_series @pessimistic_data, (@Project.info.next_release_date-@Release.start_date).to_i%>;


	createProjectedReadinessChart("projected-readiness","Projected Readiness", <%= @average_data %>,
		<%=@optimistic_data%>,<%=@pessimistic_data%>, projected_series_avg,projected_series_opt,projected_series_psi);

});

function createProjectedReadinessChart(container, title, average_data,optimistic_data,pessimistic_data,projected_average_series_data,
projected_optimistic_series_data,projected_pessimistic_series_data ){
	
	chart = new Highcharts.Chart({
		chart: {
                renderTo: container,
        },
		title: {
                text: title,
                x: -20 //center
        },
	    xAxis: {
	    	title: {
                    text:"Development Time (days)"
                },
	       tickInterval:7,

	    },
	    
	    yAxis: {
	    	title: {
                    text:"Readiness"
                },
	        max: 1,
	        min:0
	    },

	    series: [{
	    	name: 'Average',
	        data:average_data  
	    },{
	    	name: 'Optimistic',
	        data:optimistic_data  
	    },{
	    	name: 'Pessimistic',
	        data:pessimistic_data  
	    },{
	    	name: 'Projected Average',
	    	color: '#DF0101',
	        data:projected_average_series_data  
	    },{
	    	name: 'Projected Optimistic',
	    	color: '#DF0101',
	        data:projected_optimistic_series_data  
	    },{
	    	name: 'Projected Pessimistic',
	    	color: '#DF0101',
	        data:projected_pessimistic_series_data  
	    }],

	    legend: {
            enabled:true    
        },

         plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (e) {

                            	$.ajax({
                            		type: "POST",
                            		url: "/dashboard/"+<%=@Project.id%>+"/save",
                            		data: { days: e.point.x,
                            				series_name: this.series.name,
                            				release_id: document.getElementById("release_ids").options[document.getElementById("release_ids").selectedIndex].value


                            		 }
                            	});
                               //alert("I am here"+ this.series);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
	});
}

function loadDashboard(release_ids){
	$.ajax({
            type: "POST",
            url: "/dashboard/"+<%=@Project.id%>+"/index",
            data: { 
                    release_id: document.getElementById("release_ids").options[document.getElementById("release_ids").selectedIndex].value,
                    selected_index : document.getElementById("release_ids").selectedIndex
            }
    });
}

</script>