<div class="header1">Define Data Sources</div>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  
<% end %>
<%#=@days%>
<%#= @var.total_count%>
<p>Defect Find Rate: <%=@dfr%> </p>
<p>Bug Fix Rate: <%=@bfr%> </p>
<p>Feature Completion Rate: <%=@fcr%> </p>
<p>Feature Completed: <%=@fi%> </p>
<p>Code Churn: <%=@cc%> </p>












	


 	


