<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<%= javascript_include_tag 'regression.js' %>
<div id = "d-left-panel">
	<div id = "vertmenu">
	<h1><%=@Project.name%></h1>
		<ul>
			<li>
				<%= link_to "Readiness Analysis Dashboard", { controller: "analysis", action:"index", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li>
			<li>
				<%= link_to "Decision Strategies", { controller: "dashboard", action:"index", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li>
			
			<!-- <li>
				<%= link_to "Projected Readiness", { controller: "projected_readiness", action:"index", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li> -->
			<li >
			<!-- <%#= image_tag('logo.png', :height => 25, :class => 'logo') %>
				<%= link_to "Release to Release Comparison", { controller: "release_to_release", action:"index", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li> -->
			<!--<li>
				<a href=""> What-if Scenario</a>
			</li>
			-->
			<li>
				<%= link_to "Manage Values", { controller: "manage_values", action:"load_values", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li>
			<li>
				<%= link_to "Settings", { controller: "settings", action:"index", id: @Project.id},:method=>"POST", :remote=>"true" %>
			</li>
			<li>
				<%= link_to "Home", { controller: "projects", action:"index", } %>
			</li>
		</ul>
	</div>
</div>
<div id="d-container-panel">
	
</div>
