<div class = "form">
		<p align="right" ><%= submit_tag("Cancel", :onclick => "hideEditPanel(this)") %></p>
	
	<%= form_tag({controller: "/raw_files", action: "download_save_files", id:@Project.id}, remote: "true", method: "POST") %>
	<div>
		<table class = "bordered">
			<tr>
				<th>Readiness attribute</th>
				<th>Readiness Dimension</th>
				<th>Source</th>
				<th>Labels</th>
				<th>Status</th>
				<th></th>
			</tr>
			<%@Project.rattributes.each do |r| %>
				<tr>
					<td><%=r.metric.name %></td>
					<td><%=r.metric.dimension %></td>
					<td><%=r.metric.source %></td>
					<td><%=r.label[0..20] %></td>
					<%if r.raw_file != nil %>
						<td>Downloaded</td>
					<%else%>
						<td>-</td>
					<%end%>
					<td><%= link_to "Download and Save", { controller: "/raw_files", action:"download_save_files", id: @Project.id, :ra_id=>r.id},:method=>"POST", :remote=>"true" %></td>
				</tr>
			<%end%>

		</table>

		<p align="right"><%= submit_tag("Download and Save Files") %></p>
		<div id="weights"></div>
	</div>
	<div id="download-save-files"></div>
</div>
