<div class = "form">
	<p align="right" ><%= submit_tag("Cancel", :onclick => "hideEditPanel(this)") %></p>
	<div>
	<%= form_tag({controller: "infos", action: "save", id:@Project.id}, :remote => true, :method => 'POST') %>

	<table >
		
		<tr>
			<td align="right">
				<%= label_tag(:release_date, "Next release date:") %>
			</td>	
			<td>
				<% if @Project.info != nil %>
					<%= date_field(:project, :release_date, :value=>@Project.info.next_release_date) %>
				<%else%>
					<%= date_field(:project, :release_date) %>
				<%end%>
			</td>
		</tr>
	
		<tr>
			<td align="right">
				<%= label_tag(:start_date, "Project start date:") %>
			</td>
			<td>
				<% if @Project.info != nil %>
					<%= date_field(:project, :start_date, :value=>@Project.info.start_date) %>
				<%else%>
					<%= date_field(:project, :start_date) %>
				<%end%>
				</td>

			</tr>
		<tr>
			<td align="right">
				
			</td>
			<td>	
				<% if @Project.info != nil and @Project.info.is_private %>
					<%= check_box_tag(:private, "1",true) %>
					<%= label_tag(:private, "private") %>
				<%else%>
					<%= check_box_tag(:private) %>
					<%= label_tag(:private, "private") %>
				<%end%>		
					
			</td>
		</tr>
		<tr>
			<td align="right">
				<%= label_tag(:repo, "Repo:") %>
			</td>
			<td>			
					<%= text_field(:project, :repo, :value=>@Project.repo) %>		
			</td>
		</tr>
		
		<tr >
		<tr>
			<td align="right">
				<%= label_tag(:user, "User:") %>
			</td>
			<td>	
					<%= text_field(:project, :user, :value=>@Project.user) %>
				
			</td>
		</tr>
		<% if @Project.info != nil and @Project.info.is_private %>
			<tr>
				<td align="right">
					<%= label_tag(:git_username, "Github Username:") %>
				</td>
				<td>			
						<%= text_field(:github, :user_name, :value=>@Project.username) %>		
				</td>
			</tr>
			
			<tr >
			<tr>
				<td align="right">
					<%= label_tag(:git_password, "Github Password:") %>
				</td>
				<td>	
						<%= text_field(:github, :password, :value=>@Project.password) %>
					
				</td>
			</tr>
		<%end%>
		<% if @Project.jira !=nil %>
			<tr><td  align="right"><b>JIRA info:</b></td></tr>
			<tr>
				<td align="right">
					<%= label_tag(:jira_project, "Project Name:") %>
				</td>
				<td>	
					<%= text_field(:jira_project, :name, :value=>@Project.jira.project_name) %>
				
				</td>
			</tr>
			<tr>
				<td align="right">
					<%= label_tag(:jira_project, "JIRA url:") %>
				</td>
				<td>	
					<%= text_field(:jira_project, :url, :value=>@Project.jira.url) %>
				
				</td>
			</tr>
			<tr>
				<td align="right">
					<%= label_tag(:jira_project, "User Name:") %>
				</td>
				<td>	
					<%= text_field(:jira_project, :user_name, :value=>@Project.jira.username) %>
				
				</td>
			</tr>
			<tr>
				<td align="right">
					<%= label_tag(:jira_project, "Password:") %>
				</td>
				<td>	
					<%= text_field(:jira_project, :password, :value=>@Project.jira.password) %>
				
				</td>
			</tr>
		<%end%>
		<tr >
			<td>
				
			</td>
			<td align="left">
				<p>
					<%= submit_tag("Save Project Info") %>
				</p>
			</td>
		</tr>
		
		</table>
	
	</div>
	<div id="project_info">
	</div>
</div>

