<!DOCTYPE html>
<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<html>
<head>
  <title>RELREA-Release Readiness</title>
  <div id="header">
  <%#= image_tag('logo.png', :height => 70, :class => 'logo') %>
  	<div id = "title">
      RelRea
    </div>
    <div id = "sub-title">
      A tool supporting continious software release readiness evaluation
    </div>
    
  </div>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "nav" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div id="content-view">

      <%= yield %>
    </div>
		

 	</div>
</body>
</html>
